transformers[torch]
ipykernel
jupyterlab
pip
torch 
torchvision 
torchaudio
dvc
dvclive
datasets
evaluate
peft
huggingface_hub
pytorch-lightning>=2.0.5
timm
supervision==0.3.0
opencv-python
pycocotools
tensorboard
scipy
coco_eval